# Archivo de configuracion para nuestro widget personalizado
<Connectivity>
  ConnectionType {{ connectionType }}
</Connectivity>

<Account Information>
  Username {{ userName }}
  Password {{ userPassword }}
</Account Information>

<System Information>
  DistributionType {{ ansible_os_family }}
</System Information>
